{% extends 'admin_index_page.html' %}
{% load static %}

{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3 style="color: blue; margin-bottom: 20px; margin-top: -20px;">Vendors Food table</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Food Name</th>
                        <th>Image</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if food %}
                    {% for item in food %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td><img src="{{ item.image.url }}" alt="Food Image" style="max-width: 100px;"></td>
                        <td class="action-container" >
                            <a href="{% url 'edit_food_items' food_id=item.id %}">
                                <img src="{% static 'Web/assets/img/edit.png' %}" alt="Edit Icon" style="width: 25px; height: 25px;">
                            </a>
                            <a href="{% url 'food_item_delete' food_id=item.id %}">
                                <img src="{% static 'Web/assets/img/delete.png' %}" alt="delete Icon" style="width: 35px; height: 35px;">
                            </a>
                            
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="2">No food items available</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}